*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:
linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm3YseW2Awtpgbe2BjqJ2b1dBVPodVCTQSEw&s');
background-size:cover;
background-position:center;
background-attachment:fixed;
color:white;
overflow-x:hidden;
}

section{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:40px;
text-align:center;
}

.hero{
background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url('https://media.discordapp.net/attachments/1511151243282612276/1511203244121129070/image.png?ex=6a1f9932&is=6a1e47b2&hm=698e53602a031b1a5f66dc8941f516c8d3cdc379486d749470005b768f8432a8&=&format=webp&quality=lossless&width=312&height=455');
background-size:cover;
background-position:center;
}

h1{
font-size:4rem;
margin-bottom:20px;
}

h2{
font-size:2.5rem;
margin-bottom:20px;
}

p{
max-width:800px;
line-height:1.8;
font-size:1.1rem;
}

.btn{
margin-top:30px;
padding:16px 35px;
background:#ff4d88;
color:white;
text-decoration:none;
border-radius:40px;
font-weight:700;
transition:.3s;
}

.btn:hover{
transform:scale(1.08);
}

.foto{
width:320px;
max-width:90%;
border-radius:20px;
margin-bottom:25px;
box-shadow:0 0 30px rgba(255,77,136,.4);
}

.fade{
animation:fadeUp 1s ease;
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

footer{
padding:40px;
text-align:center;
color:#999;
}

@media(max-width:768px){

h1{
font-size:2.5rem;
}

h2{
font-size:2rem;
}

.foto{
width:280px;
}

}
